:root {
    --text-color: #ebedec;
    --corner-6px: 6px;
    --inputGap-between-one: 1rem;
    --input-form-font1: 1.5rem;
    /* --nav-background:rgb(21, 31, 26); */
    --nav-background:#151f1a;
    --main-green:rgb(21, 31, 26);
    /* --app-background:linear-gradient(177deg, rgba(21,31,26,1) 0%, rgba(36,55,46,1) 42%, rgba(52,78,65,1) 100%); */
    /* --app-background:#1f2f27; */
    /* background: rgb(21,31,26);
  background: linear-gradient(177deg, rgba(21,31,26,1) 0%, rgba(36,55,46,1) 42%, rgba(52,78,65,1) 100%); */
    --container-background:#1f2f27;
    --component-background:#1f2f27;
    --for-choice:#1a2721;
    --prompt-backround:#1a2721;
  
    --table-row-backcolor:#1a2721;
    --box-shadow: 0px 15px 20px rgba(21, 31, 26, 1);
  
    --main-orange:#ffa500;
    --orange-sec:#cc8400;

    --flex:
      display: flex;
      align-items: center;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 62.5%;
    color: var(--text-color);
    /* color: white; */
    scroll-behavior: smooth;
    /* background-color: var(--nav-background); */
    background-color: var(--nav-background);
}
  
.a-links:link,
.a-links:visited {
    text-decoration: none;
    /* color: #333; */
}

  /* fonts============ */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.noto-sans-400 {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.hanuman-thin {
    font-family: "Hanuman", serif;
    font-weight: 100;
    font-style: normal;
}
  
.hanuman-light {
    font-family: "Hanuman", serif;
    font-weight: 300;
    font-style: normal;
}
  
.hanuman-regular {
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
}
  
.hanuman-bold {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-style: normal;
}
  
.hanuman-black {
    font-family: "Hanuman", serif;
    font-weight: 900;
    font-style: normal;
}
  
  
  /* common classes ============ */
.for-choice-prompt-p {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #d2d2d2;
    /* color: #fff; */
  
    padding: 0.5rem;
    border: 1px solid #464646;
    border-radius: var(--corner-6px);
    background-color: var(--for-choice);
}
  
.common-flex {
    display: flex;
}
  
  /* .common-p-val{ used for-choice-prompt-p instead
  
    padding: 0.2rem 1rem;
    border: 1px solid gray;
    border-radius: var(--corner-6px);
  } */
  
.common-flex-alignCenter{
    display: flex;
    align-items: center;
    gap: 1rem;
}
  
.border-updown-margin{
    /* margin: 1rem 0; */
    padding: 1.5rem 0.5rem;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    border: 1px solid #464646;
    border-radius: var(--corner-6px);
}
  
.slider{
    accent-color:var(--main-orange);
    /* background-color: var(--slider); */
}
  
.box-shadow{
    /* box-shadow:0 0 0.8rem rgba(0, 0, 0, 0.525); */
    box-shadow:0px 10px 25px rgba(21, 31, 26, 0.5);
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* ============== */
/* .loading-div{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.8);

    z-index: 9;
} */

.loading-div {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9;
};

.loading-div svg {
    width: 100%; height: 100%;
}
.loading-div svg text {
    animation: stroke 1s infinite alternate;
	stroke: rgb(54, 95, 160);
	font-size: 6rem;
}
@media (max-width: 36.5rem){
    .loading-div svg text {
        font-size: 4rem;
    }
}
@media (max-width: 25rem){
    .loading-div svg text {
        font-size: 3rem;
    }
}

@keyframes stroke {
    0%   {
        fill: rgba(72,138,204,0); stroke: rgba(255, 255, 255, 1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	70%  {fill: rgba(72,138,204,0); stroke: rgba(255, 255, 255, 1); }
	80%  {fill: rgba(72,138,204,0); stroke: rgba(255, 255, 255, 1); stroke-width: 2; }
	100% {
        fill: rgba(255, 255, 255, 1); stroke: rgba(255, 255, 255, 0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.loading-div-inactive{
    display: none;
}



.alert{
    visibility: hidden;
    background-color: var(--text-color);
    border-radius: var(--corner-6px);
    border: 1px solid var(--main-orange);
    padding:0 0.5rem;
    margin: 0 auto;
    
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
}
.alert div{
    display: flex;
    align-items: center;

}
.alert-p{
    color: var(--nav-background);
    font-size: 1.5rem;
    font-weight: 500;
}
.alertV{
    visibility: visible;
}
.close-icon{
    font-size: 2.5rem;
    color: var(--main-orange);
    padding-top: 0.2rem;
    cursor: pointer;
}

.container{
    min-width: 30%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 1.5rem; */
    
    /* margin-top: 20%; */
    position: absolute;
    /* top: 30%; */
    left: 50%;
    transform: translate(-50%, 0%);
    /* border: 1px solid rgb(235, 237, 236,0.1); */
    border-radius: var(--corner-6px);
    /* background-color: var(--component-background); */
}

.logoImg{
    width: 25rem;
    align-self: center;
}

.top-btns{
    display: flex;
    
    /* background-color: var(--component-background); */
    /* gap: 1rem; */
    /* margin-bottom: 0; */
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    /* border-top-left-radius: var(--corner-6px);
    border-top-right-radius: var(--corner-6px); */
    transition: all 0.3s;
}
.signup-form, .signin-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 1rem 1rem;

    background-color: var(--component-background);
    /* border-radius: var(--corner-6px); */
    border-bottom-left-radius: var(--corner-6px);
    border-bottom-right-radius: var(--corner-6px);
    box-shadow: var(--box-shadow);
    /* border-radius: var(--corner-6px); */
    /* transition: all 1s, opacity 1s; */
}

.forgot-pass{
    /* align-self: end; */
    color: rgb(100, 211, 211);
}

.btn{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform:uppercase;
    /* max-width: 100%; */
    padding: 0.5rem;
    border-radius: var(--corner-6px);
    border: none;
    cursor: pointer;
}


.signin-btn-t,.signup-btn-t{
    /* color: var(--loginpage-btn); */
    width: 100%;
    color: var(--text-color);
    padding: 1rem 0;
    background-color: var(--component-background);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: var(--box-shadow);
}
.signin-btn-b,.signup-btn-b{
    /* color: var(--loginpage-btn); */
    /* align-self: flex-end; */
    margin-top: 1rem;
    align-self: center;
    width: 100%;
    /* min-width: 50%; */
    background-color: var(--main-orange);
    transition: all 0.3s;
}
.signin-btn-b:hover,.signup-btn-b:hover{
    background-color: var(--orange-sec);
}
.signin-btn-b:active,.signup-btn-b:active{
    background-color: var(--main-orange);
}

.common{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    text-transform: uppercase;
}
.common input {
    color: var(--text-color);
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--corner-6px);
    background-color: var(--prompt-backround);
    border: none;
}
.common label{
    letter-spacing: -0.5px;
}

.inactive{
    display: none;
    /* opacity: 0;
    transform: translateX(5rem); */
}
.signin-form.active{
    border-top-left-radius: var(--corner-6px);
}
.signup-form.active{
    border-top-right-radius: var(--corner-6px);
}
.inactive-btn{
    color: rgba(235, 237, 236, 0.489);
    background-color: var(--nav-background);
    box-shadow: none;
}

