:root {
  --text-color: #ebedec;
  --corner-6px: 6px;
  --inputGap-between-one: 1rem;
  --input-form-font1: 1.5rem;
  --nav-background: #151f1a;
  /* --app-background:linear-gradient(177deg, rgba(21,31,26,1) 0%, rgba(36,55,46,1) 42%, rgba(52,78,65,1) 100%); */
  /* --app-background:#1f2f27; */
  /* background: rgb(21,31,26);
  background: linear-gradient(177deg, rgba(21,31,26,1) 0%, rgba(36,55,46,1) 42%, rgba(52,78,65,1) 100%); */
  --container-background: #1f2f27;
  --component-background: #1f2f27;
  --for-choice: #1a2721;
  --prompt-backround: #1a2721;

  --table-row-backcolor: #1a2721;

  --main-orange: #ffa500;
  --orange-sec: #cc8400;
  --flex:
      display: flex;
      align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
  /* color: white; */
  scroll-behavior: smooth;
  background-color: var(--nav-background);
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  /* color: #333; */
}

.body {
  position: relative;
  background: rgb(21, 31, 26);
  background: linear-gradient(
    180deg,
    rgba(21, 31, 26, 1) 0%,
    rgba(36, 55, 46, 1) 63%,
    rgba(52, 78, 65, 1) 100%
  );
  /* background-color: linear-gradient(177deg, rgba(21,31,26,1) 0%, rgba(36,55,46,1) 42%, rgba(52,78,65,1) 100%);
  background-color: var(--app-background); */
}

body {
  margin: 15rem 5rem 15rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 5rem; */
  /* align-content: center; */

  /* height: 100vh; */
  /* width: 100%; */
}
.images {
  min-width: 50%;
  position: relative;
}
.image {
  max-width: 30rem;
  border: 3px solid var(--main-orange);
  border-radius: var(--corner-6px);
  transition: all 1s ease;

  box-shadow: 0px 10px 25px rgba(21, 31, 26, 0.5);
}
/* .image:hover {
  z-index: 1;
  transform: scale(105%, 105%);
} */
.image-1 {
  max-width: 40rem;
  transform: translate(0%, -30%);
  z-index: 0;
}
.image-2 {
  position: absolute;
  transform: translate(-60%, 50%);
  z-index: -1;
}
.image-3 {
  position: absolute;
  transform: translate(-140%, 60%);
  z-index: -2;
}

/* ---------------------------------------- */
.logoImg {
  width: 20rem;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  /* border: 2px solid var(--container-background); */
}
.info h2 {
  text-align: center;
  font-size: 3rem;
}
.info p {
  text-align: justify;
  font-size: 1.5rem;
}

.info div {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.info a {
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: var(--corner-6px);
}
.info a:first-child {
  color: black;
  background-color: var(--orange-sec);
  text-align: center;
  width: 50%;
  transition: all 0.3s;
}
.info a:first-child:hover {
  background-color: var(--main-orange);
}
.info a:first-child:active {
  background-color: var(--orange-sec);
}
.info a:last-child {
  /* background-color: var(--orange-sec); */
  border: 2px solid var(--orange-sec);
  width: 50%;
  text-align: center;
  transition: all 0.3s;
}
.info a:last-child:hover {
  color: black;
  background-color: var(--orange-sec);
}

/* ------==== 1200px =====-------- */

@media (max-width: 75rem) {
.image {
  max-width: 25rem;
  /* border: 3px solid var(--main-orange);
  border-radius: var(--corner-6px);
  transition: all 1s ease;

  box-shadow: 0px 10px 25px rgba(21, 31, 26, 0.5); */
}
.image-1 {
  max-width: 32rem;
  /* transform: translate(0%, -30%);
  z-index: 0; */
}
}

@media (max-width:62.5rem) {
  body{
    margin: 15rem 3rem 10rem 5rem;
    gap:2rem;
  }
  .info h2{
    font-size: 2.5rem;
  }
}
@media (max-width:53.75rem) {
  body{
    margin: 15rem auto;
    flex-direction: column;
    gap:25rem;
  }

  .image {
    max-width: 30rem;
  }
  .image-1 {
    max-width: 40rem;
    transform: translate(0%, -30%);
    z-index: 0;
  }
  .image-2 {
    position: absolute;
    transform: translate(-70%, 50%);
    z-index: -1;
  }
  .image-3 {
    position: absolute;
    transform: translate(-160%, 60%);
    z-index: -2;
  }
  
  .info h2{
    font-size: 3rem;
  }
}

@media (max-width:40.6rem) {
  body{
    gap: 15rem;
  }
  .image{
    max-width: 25rem;
  }
  .image-1{
    max-width: 35rem;
    transform: translate(-10%, -30%);
  }
  .image-2{
    transform: translate(-80%, 50%); 
  }
  .image-3{
    transform: translate(-170%, 60%); 
  }
  .info h2{
    font-size: 2.5rem;
  }
}
@media (max-width:31.6rem) {
  body{
    gap: 12rem;
  }
  .image{
    max-width: 22rem;
  }
  .image-1{
    max-width: 32rem;
    transform: translate(-10%, -30%);
  }
  .image-2{
    transform: translate(-80%, 50%); 
  }
  .image-3{
    transform: translate(-170%, 60%); 
  }
  .info h2{
    font-size: 2.2rem;
  }
  .info div {
    display: flex;
    gap: 1rem;
  }
}
@media (max-width:26.6rem) {
  body{
    margin: 10rem auto;
    gap: 8rem;
  }
  .image{
    max-width: 18rem;
  }
  .image-1{
    max-width: 25rem;
    transform: translate(0%, -30%);
  }
  .image-2{
    transform: translate(-80%, 50%); 
  }
  .image-3{
    transform: translate(-170%, 60%); 
  }
  .info h2{
    font-size: 2.2rem;
  }
}
@media (max-width:21.6rem) {
  body{
    margin: 10rem auto;
    gap: 8rem;
  }
  .image{
    max-width: 15rem;
  }
  .image-1{
    max-width: 22rem;
    transform: translate(0%, -30%);
  }
  .image-2{
    transform: translate(-90%, 50%); 
  }
  .image-3{
    transform: translate(-160%, 60%); 
  }
  .info h2{
    font-size: 2rem;
  }
  .info div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .info a {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
    margin:0 2rem;
  }
  .info a:first-child {
    color: black;
    width: 80%;
  }
  .info a:last-child {
    width: 80%;
  }

}